<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CRUD 연습</title>
</head>
<body>
  <h1>새로운 글</h1>
  <form action="/newFile" method="post">
    <textarea name="text" rows="20" cols="70" placeholder="새로운 글을 입력" ></textarea>
    <button>셍성하기</button>
  </form>
</body>
</html>