<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CRUD 연습</title>
</head>
<body>
  <h1>블로그</h1>

  <h2>목차</h2>
  <form action="/PostCreate" method="get">
    <button>글쓰기</button>
  </form>
</body>
</html>