<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CRUD 연습</title>
</head>
<body>
  <h1>블로그</h1><hr>
  <h2>목차</h2>
	<% for (let key in db){ %>
	<li><a href="/detail/<%= db[key].title %>"><%= db[key].title %></a></li>
	<% } %><hr>
	<form action="/PostCreator" method="get">
  	<button type="submit">새로운 글쓰기</button>
  </form>
</body>
</html>