<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CRUD 연습</title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= text %></p>
  <form action="" method="post">
    <button>수정하기</button>
  </form>
</body>
</html>