<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CRUD 연습</title>
</head>
<body>
  <h1><%= data.title %></h1>
  <p><%= data.content %></p>
  <form action="/PostEdit" method="post">
    <input type="hidden" name="index" value="<%= data.id %>">
    <button type="submit">수정하기</button> 
    <button type="submit" onclick="return confirm('are you sure?')"  formaction="/PostDelete">지우기</button>
  </form>
</body>
</html>